<!DOCTYPE html>
<html>
        <style> 
h1 {
        font-size: 60px;
}
  p { 
          font-size: 20px;
  }
        </style>

        <head lang="en">
                <meta charset="UTF-8">
                <title>Konneckt</title>
                <link href='https://fonts.googleapis.com/css?family=Andada' rel='stylesheet'>
                <link rel="stylesheet" type="text/css" href="static/css/notes.css">
        </head>
        <body>
                <div class="container">

                        <h1> pez Welcome to Konneckting pez </h1>

                        <p>Hello, <b>{{ user }}</b>
                </div>
                <div class="topnav">
                        <a href="/">Home</a>
                        <a href="about.html">About</a>
                        <a href="{{ logout_url }}" style="float:right">Logout</a> </p>

                </div> 

                  <div class="table">
                        <form action="" method="post">
                                <legend>Add a Comment</legend>
                                <div class="form-group">
                                        <label for="title">Your name:</label>
                                        <input type="text" id="title" name="title"/>
                                </div>
                                <div class="form-group">
                                        <label for="content">Comments:</label>
                                        <textarea id="content" name="content"></textarea>
                                </div>
                                <div class="form-group">
                                        <label for="checklist_items">For:</label>
                                        <input type="text" id="checklist_items" name="checklist_items"
                                                                                placeholder="comma,separated,values"/>
                                </div> 
                                <div class="form-group">
                                        <button type="submit">Save note</button>
                                </div>
                        </form>

                        {% for note in notes %}
                        <div class="note">
                                <h4>{{ note.title }}</h4>
                                <p class="note-content">{{ note.content }}</p>
                                {% if note.checklist_items %}
                                <ul>
                                        {% for item in note.checklist_items %}
                                        <li class="{%if item.get().checked%}checked{%endif%}">{{item.get().title}}</li>
                                        {% endfor %}
                                </ul>
                                {% endif %}
                        </div>
                        {% endfor %}
                  </div>
                   <div class="calendar">
                        <legend>Calendar</legend>
                  </div>

        </body>
</html>
