body {
    font-family: 'Andada'; font-size: 15px;
    background: #f0f0f0;
    color: rgba( 51, 153, 255, .9);
    text-align: center;
}

div.container {
    padding: 30px;
    text-align: center;
    /*width: 600px;
    display: inline-block;*/

}

div.table {
        display: inline;
        float: left;
        width: 300px;

} 

form {
    background: white;
    padding-bottom: 0.5em;
    margin-bottom: 30px;
}

h4,legend {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 100;
    width: 100%;
}

div.form-group {
    margin-bottom: 1em;

}

label {
    display: inline-block;
    font-weight: 90;
    width: 50px;
    text-align: left;
    padding-right: 200px;
}

input, textarea {
    width: 100px;
    height: 35px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
                                                              1,6           Top

